.head {
  background: rgb(0,0,0)
}
.text1 {
  font-weight: 400;
  font-size: 24px;
  color: rgb(255,255,255)
}
.log {
  font-weight: 400;
  font-size: 60px;
  color: rgb(255,255,255)
}
.text3 {
  font-weight: 400;
  font-size: 30px;
  color: rgb(255,255,255)
}
.text4 {
  font-weight: 400;
  font-size: 35px;
  color: rgb(255,255,255)
}
