* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
.head {
  background: #000000;
}
.text1 {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}
.log {
  font-weight: 400;
  font-size: 60px;
  color: #ffffff;
}
.text3 {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
.text4 {
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
}
